html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset over */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
    margin-bottom: 2em;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}
  
.circular--landscape img {
    width: auto;
    height: 200%;
    margin-left: -90px;
    
}

h1 {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


li {
    float: left;

  }

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFB6C1;
  }

.center {
    margin: auto;
    width: 50%;
    border: 3px solid #FFB6C1;
    padding: 10px;
    text-align: center;
  }